<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809408569788-9foht8qq8k15e3mr3o8eu6i0fvh8n565.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809408569788-9foht8qq8k15e3mr3o8eu6i0fvh8n565</string>
	<key>API_KEY</key>
	<string>AIzaSyDtVHaIxcf998kvOPP0p7GvUeIpLdtRRYA</string>
	<key>GCM_SENDER_ID</key>
	<string>809408569788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>editora.izyncor.app.editoraIzyncorApp</string>
	<key>PROJECT_ID</key>
	<string>izyncor-app-949df</string>
	<key>STORAGE_BUCKET</key>
	<string>izyncor-app-949df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809408569788:ios:05ba7bf2db300f3cfc0bb9</string>
</dict>
</plist>